<h1>Train Journey Planner</h1>

<ol *ngIf="trainJournies; else loading">
  <li>
    <span class="input-label">Travelling From</span>
    <select [(ngModel)]="selectedDepartFrom" (ngModelChange)="DepartFromOnChange()">
      <option value="" selected>Travelling From...</option>
      <option *ngFor="let station of allStations" [ngValue]="station">{{station}}</option>
    </select>
  </li>
  <li>
    <span class="input-label">Destination</span>
    <select [(ngModel)]="selectedArriveAt" (ngModelChange)="ArriveAtOnChange()">
      <option value="" selected>Travelling To...</option>
      <option *ngFor="let station of allDestinationStations" [ngValue]="station">{{station}}</option>
    </select>
  </li>
</ol>
<div *ngIf="selectedTrainJourney">
  <h3>Journey Details</h3>
  <ol>
    <li><span class="input-label">Travelling From:</span> '{{selectedTrainJourney.DepartFrom}}'</li>
    <li><span class="input-label">Travelling To:</span> '{{selectedTrainJourney.ArriveAt}}'</li>

    
    <li *ngIf="selectedTrainJourney.ChangingAt; else elseBlock">
      <span class="input-label">Changing at:</span> '<span *ngFor="let station of selectedTrainJourney.ChangingAt">{{station}}</span>'
    </li>
    <ng-template #elseBlock>
      <li>
        <span class="input-label">Changing at:</span> No Changes, Direct Train!
      </li>
    </ng-template>

    <li><span class="input-label">Travel Time:</span> {{selectedTrainJourney.Time }} minutes</li>

  </ol>


   
  <button type="button" (click)="ClearSelection()">Clear Details</button>
</div>

<ng-template #loading>
  Loading Train Details
</ng-template>
